body, html {
  height:100%;
  font-family: sans-serif;
}

body {
  margin: 0px;
  background-color: #444;
  font-size: 18px;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

.lightsOn {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  background-color: #5F5F5F;
}

.title, .actionButton {
  padding: 5px 12px;
  float: right;
}

.topbar {
  height: 32px;
  background-color: #555;
}

.title {
  background-color: #777;
}
.dancer {
  position: absolute;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.dancer:hover {
  -webkit-transform: rotate(1080deg) scale(5, 5);
  transform: rotate(1080deg) scale(5, 5);
}

.blinky {
  color: red;
}

.bouncy {
  color: green;
}

.shaky {
  color: blue;
}

.linedUp {
  position: relative;
  float: left;
}